.title {
  background: var(--main-text-color);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.container {
  position: relative;
  padding-top: 80px;
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
